body {
    font-family: 'Open Sans', Arial;
    background: #f3f3f3 !important;
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}

.card-header:first-child {
    background: #1e70c7;
    font-weight: bold;
    color: white;
}

#app {
    width: 882px;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #04082f;
    border-color: #04082f;
}